body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
header a{
    padding-left: 3px;
    text-decoration: none;
    color: white;
}

.datos{
    border-right: 2px solid white;
    text-decoration: none;
    padding-left: 3px;
    color: white;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #5f008c;
    align-items: center;
    padding: 10px;
}

.logoheader{
    display: flex;
    align-items: center;
}

.logoheader img{
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}

/*-------------*/
main h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;

    background-color: #7ECB92;
    padding: 18px;
    border-radius: 10px;
    margin-left: 450px;
    margin-right: 450px;
}

.parrafo {
    height: auto;
    width: 700px;
    font-size: 30px;
    text-align: center;
    margin-left: 330px;
    margin-right: 330px;
}
