body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header a{
    padding-left: 3px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #5f008c;
    align-items: center;
    padding: 10px;
}

.logoheader{
    display: flex;
    align-items: center;
}

.logoheader img{
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}

/*-------------*/

main h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #5f008c;
    padding: 18px;
    border-radius: 10px;
    margin-left: 550px;
    margin-right: 550px;
}

.nosotros{
    width: 900px;
    font-size: 30px;
    margin-left: 240px;
    color: black;
}

.styleslogan{
    font-style: italic;
    color: #7ECB92;
    padding-right: 5px;

}

.styleslogan2{
    font-style: italic;
    color: #5f008c;         
}


span{
    display: flex;
    font-size: 30px;
    margin-left: 480px;
    margin-bottom: 30px;
}